---
const resume_path: string = "./Nigel Tan's Resume.pdf";
---

<div>
    <h1>Nigel Tan</h1>
    <ul>
        <li>nigel.tan@u.nus.edu</li>
        <li><a href={resume_path} target='_blank'>Resume</a></li>
    </ul>
</div>